.board-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 300px;
    border: 1px solid #000;
    background-image: url("../Wooden-Backgrounds-HD-026.jpg");
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

